/.idea/
/venv/
/cpp/.vs/
/**/**/.exercism/
/cpp/**/.idea/
/**/**/.idea/
/java/**/.gradle/
/java/**/build/
/java/**/build.gradle
/java/**/.exercism
/java/**/gradlew
/java/**/gradle
/java/**/gradlew.bat
/java/**/src/test/
/java/**/*.log
/cpp/**/cmake-build-debug/
/cpp/**/out/
/cpp/**/CMakeLists.txt
/javascript/.idea/
/javascript/**/.eslintrc
/javascript/**/.npmrc
/javascript/**/babel.config.js
/javascript/**/package.json
/javascript/**/config.json
/javascript/**/metadata.json
/javascript/**/LICENSE
/**/**/HELP.md
